@font-face {
    font-family: 'securitaire';
    src: url('https://glcdn.githack.com/jibe-b/sec-banner/raw/master/SecuritaireFont.otf');t
}

div {
    font-family:securitaire, sans-serif;
}

span {
    font-family:securitaire, sans-serif;
}

h1 {
    font-family:securitaire, sans-serif;
}

p {
    font-family:securitaire, sans-serif;
}
